/* ===CONTENT===*/

@media screen and (max-width: 425px) {
  .content {
      align-items: center;
    }
  .lead__image {
    width: 100vw; /*el total del ancho de la ventana */
    height: auto;
  }
  .intro {
    max-width: 95vw;
    padding: 1em;
  }
}

@media screen and (max-width: 320px) {
    .content {
        align-items: center;
      
      }
}