/* ===FOOTER=== */
.footer{
    display: flex;
    justify-content: center;
    padding: 6vh 0 0 0;
    color: #ffffff;
   
    
   }
   .footer__copyright {
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    }
   
    @media screen and (max-width: 768px) {
        .footer {
            margin-top: 4em;
        }
    }
    @media screen and (max-width: 320px) {
        .footer {
            padding: 0;
        }
    }