/* ===HEADER=== */
.header {
    display: flex;
    justify-content:center;
    padding: 2rem 0;
   }
   .header__logo {
   width: 16vw; 
   height: auto;
   
   }

@media screen and (max-width: 768px) {
    .header__logo {
      width: 33vw;
      height: auto;
    }
   }
@media screen and (max-width: 320px) {
    .header__logo {
      width: 60vw;
      height: auto;
      }
   }