/* ===INTRO=== */
.intro{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    
   }
   .intro__title{
    max-width: 100%;
    font-family: "Inter" Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 3rem;
    
   
   }
   .intro__quote{
    max-width: 90%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0;
   }
   .intro__quote-cite{ 
    max-width: 90%;
    font-family: "Inter" Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
    
   }
   .intro__paragraph {
     max-width: 90%;
     max-height: 30%;
     font-family: 'Inter' Arial, Helvetica, sans-serif;
     font-weight: 400;
     font-size: clamp(1rem, 1.1vw, 1rem);
     line-height: 1.5rem;
     
   }
   /* ===MEDIA QUERIES=== */
@media screen and (max-width: 768px) {
  .intro {
    max-width: 100vw;
    padding-left: 2em;
  }
  .intro__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    max-width: 95vw;
    padding: 1em;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 90vw;
    padding: 0;
    margin: 0 auto;
    align-items: center;
  }
  .intro__title {
    font-size: 2em;
    line-height: 1;
  }
  .intro__quote {
    font-size: 1.5rem;
    line-height: 30px;
    margin: 0;
    max-width: 95vw;
  }
  .intro__quote-cite {
    font-size: 1.5rem;
    line-height: 34px;
    padding-left: 90px;
    padding-top: 10px;
  }
  .intro__paragraph {
    max-width: 95vw;
  }
}
