/* ===LEAD=== */
.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
    }
    .lead__title {
     max-width: 73%;
     max-height: 20%;
    
    }
    .lead__subtitle {
      font-family: "Inter" Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.5rem;
      max-width: 73%;
      margin-bottom: 2em;
      text-align: center;
    } 
    .lead__image{
      width: 100%;
      height: auto;
      
      
    }  