/* ===LEAD=== */
.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
    }
    .lead__title {
     max-width: 73%;
     max-height: 20%;
    
    }
    .lead__subtitle {
      font-family: "Inter" Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.5rem;
      max-width: 73%;
      margin-bottom: 2em;
      text-align: center;
    } 
    .lead__image{
      width: 100%;
      height: auto;
      }

    @media screen and (max-width: 768px) {
      .lead__image {
        width: 100vw;
        height: auto;
    }
    .lead {
    max-width: 100%;
  }
    .lead__title {
    max-width: 65%;
    
  }
    .lead__subtitle {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 95vw;
  }
    .lead__image {
      max-width: 100vw;
      height: auto;
      align-items: center;
  }
    }
    @media screen and (max-width: 544px) { 
      .lead__subtitle { 
      font-size: 1rem;  
    } 
  }
    @media screen and (max-width: 425px) {
      .lead__image {
        width: 100vw; /*el total del ancho de la ventana */
        height: auto;
      }
    }
    @media screen and (max-width: 320px) {
      .lead__title {
        width: 70vw;
      }
      .lead__image {
        width: 100vw;
        height: auto;
      }
    }