/* ===WHOLE=== */
body {
    background-color: #2a2c2f;
    display: flex;
    align-items: center;
  }
  .page {
          max-width: 80vw; /* establece el ancho para version escritorio */
          min-height: 100vh; /* establece la altura de la pagina */
        
          margin: 0 auto; /* centra el contenido */
          font-family: "Inter", Arial, sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          
        }
        
        
        @media screen and (max-width: 425px) {
          .page__content {
            align-items: center;
          }
        }
        @media screen and (max-width: 320px) {
          .page {
            max-width: 95vw;
          }
          .page__content {
            align-items: center;
          
          }
        }