.photo-grid {
 margin-top: 6em;
}
.photo-grid__items{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px 10px;
}



@media screen and (max-width: 768px) {
    .photo-grid {
    max-width: 100vw;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
   .photo-grid__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em 1em;
    margin: 0 auto;
   }
   .photo-grid__image{
    width: 100%;
    height: 100%;
   
   }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        margin: 0 auto;
        max-width: 100vw;
    }
    .photo-grid__items {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100vw;
    }
   
   
}