.photo-grid {
 margin-top: 6em;
}
.photo-grid__items{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: 213px 213px;
 grid-gap: 10px 10px;
}
.photo-grid__image {
    
    
}