@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/intro.css);
@import url(../blocks/lead.css);
@import url(../blocks/footer.css);
/*

/* ===MEDIA QUERIES=== */
@media screen and (max-width: 768px) {
  .header__logo {
    width: 33vw;
    height: auto;
  }
  
  .lead__image {
      width: 100vw;
      height: auto;
  }
  .intro {
    max-width: 75vw;
    padding-left: 1.5em;
  }
   
}
@media screen and (max-width: 544px){ 
  .lead__subtitle { 
  font-size: 1rem;  
} 
}
@media screen and (max-width: 425px) {
  .content {
    align-items: center;
  }
  .lead__image {
    width: 100vw; /*el total del ancho de la ventana */
    height: auto;
  }
  .intro {
    max-width: 95vw;
    padding: 1em;
  }
}
@media screen and (max-width: 320px) {
  .page {
    max-width: 95vw;
  }
  .content {
    align-items: center;
  
  }
  .header__logo {
  width: 60vw;
  height: auto;
  }
  .lead__image {
    width: 100vw;
    height: auto;
  }
  .intro {
    max-width: 90vw;
    padding: 0;
  }
  .intro__title {
    font-size: 2em;
    line-height: 1;
  }
  .intro__quote {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
  }
  .intro__quote-cite {
    font-size: 1rem;
    line-height: 2;
  }
}